@font-face {
    font-family: 'RESSurfFoxes';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/RESSurfFoxes.eot');
    src: url('/fonts/RESSurfFoxes.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RESSurfFoxes.woff2') format('woff2'),
         url('/fonts/RESSurfFoxes.woff') format('woff'),
         url('/fonts/RESSurfFoxes.ttf') format('truetype'),
         url('/fonts/RESSurfFoxes.otf') format('opentype');
}

@font-face {
    font-family: 'Monoton';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/MonotonRegular.eot');
    src: url('/fonts/MonotonRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonotonRegular.woff2') format('woff2'),
         url('/fonts/MonotonRegular.woff') format('woff'),
         url('/fonts/MonotonRegular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(/img/bg.jpg) no-repeat fixed center top / cover #000;
}

.main, .sidebar-wrapper, .content, .root > div {
    display: flex;
}
.root, .root > div {
    height: 100%;
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    min-width: 240px;
}

.sidebar-wrapper {
    min-height: 200px;
    position: fixed;
    top: 65%;
    transform: translateY(-50%);
    color: white;
    width: 250px;
    display: none;
    margin-left: 1rem;
    text-align: center;
}

.blackout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 2;
}

.modal {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    position: fixed;
    min-height: 200px;
    width: 250px;
    text-align: center;
    background: rgba(3, 15, 83, 1) !important;
    background-size: 10px 10px !important;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, .1) 1px, transparent 1px) !important;
}

.info-block {
    background: rgba(3, 15, 83, .7);
    box-shadow:
        inset 0 0 11px rgba(0, 147, 253, .8),
        0 0 11px rgba(0, 147, 253, .8);
    border: 2px solid #0093FD;
    border-radius: 5px;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, .1) 1px, transparent 1px);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
}

.sidebar {
    height: 100%;
}

.text-container {
    background: rgba(38, 34, 61, .7);
    padding: 1rem;
    margin: 10px 0;
    display: flex;
}

.search {
    margin: 1rem 0;
}

.search span {
    margin: .5rem 0;
    display: block;
}

.search input[type="text"] {
    width: 100%;
    outline: none;
    border: 2px solid #3ec560;
    border-radius: 3px;
    background: rgb(0 50 23 / .7);
    color: #B4E124;
    position: relative;
    padding: .3rem;
    font-size: 1.5rem;
    text-align: center;
}

/* #8A6BEA */

.content {
    width: 100%;
    position: relative;
    flex-direction: column;
    margin: 14rem 2rem 2rem 2rem;
}

.content::before {
    content: '';
    display: block;
    background: url(/img/neonabyss_logo.webp);
    background-size: 100% 100%;
    width: 290px;
    height: 174px;
    filter: drop-shadow(0 0 10px #08F7FE);
    animation: flashing 4s linear infinite;
    position: absolute;
    top: -210px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    image-rendering: pixelated;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    background: radial-gradient(ellipse at center, rgb(49, 44, 24) 0%, rgba(0, 0, 0, 0.73) 100%);
    box-shadow: 0 0 9px 3px #F2D02B;
    padding: 2rem 1rem 1rem 1rem;
    margin-bottom: 5rem;
}

.item-list::before {
    position: absolute;
    background: rgb(49, 44, 24) ;
    content: attr(data-title);
    left: 50%;
    text-transform: uppercase;
    top: -2rem;
    padding: 0 1rem;
    text-align: center;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: white;
    border-left: 3px solid #F2D02B;
    border-right: 3px solid #F2D02B;
    font-family: 'Monoton', Tahoma, cursive;
    text-shadow: 0 0 20px #F2D02B;
}

.item {
    background: url(/img/items-min.png) top left no-repeat;
    width: 80px;
    height: 80px;
    transition: filter .05s;
}

.weapon {
    background: url(/img/weapons.png) top left no-repeat;
}

.item:hover {
    filter: drop-shadow(0 0 10px #08F7FE);
    cursor: pointer;
    animation: flashing 2s linear infinite;
}

.notfound-container {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    font-family: 'RESSurfFoxes', monospace;
    font-weight: normal;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.notfound-container h1 {
    margin: auto;
    letter-spacing: 1px;
    color: #fff;
    font-weight: normal;
    animation: smooth_show 1s linear;
}

.notfound-container a {
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 1.25rem;
    margin: 10px;
    animation: smooth_show 1s linear;
}

@media (min-width: 744px) {
    .sidebar-wrapper {
        display: block;
    }

    .content {
        margin: 10rem 2rem 2rem 285px;
    }

    .content::before {
        transform: rotate(-30deg);
        top: -100px;
        left: -170px;
    }
}

@media (max-width: 599px) {
    .content {
        margin: 14rem 0.8rem 2rem 0.8rem;
        padding: 2rem 5px 1rem 5px;
    }
}

@keyframes smooth_show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes flashing {
    from {
        opacity: .9;
    }

    4% {
        opacity: .9;
    }

    6% {
        opacity: .85;
    }

    8% {
        opacity: .95;
    }

    10% {
        opacity: .9;
    }

    11% {
        opacity: .922;
    }

    12% {
        opacity: .9;
    }

    14% {
        opacity: .95;
    }

    16% {
        opacity: .98;
    }

    17% {
        opacity: .9;
    }

    19% {
        opacity: .93;
    }

    20% {
        opacity: .99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: .94;
    }

    28% {
        opacity: .98;
    }

    37% {
        opacity: .93;
    }

    38% {
        opacity: .5;
    }

    39% {
        opacity: .96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: .97;
    }

    46% {
        opacity: .94;
    }

    56% {
        opacity: .9;
    }

    58% {
        opacity: .9;
    }

    60% {
        opacity: .99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: .9;
    }

    72% {
        opacity: .95;
    }

    93% {
        opacity: .93;
    }

    95% {
        opacity: .95;
    }

    97% {
        opacity: .93;
    }

    to {
        opacity: 1;
    }
}
